.burgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #0f0124;

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #0f0124;
    z-index: 100;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    flex-direction: row;
    justify-content: center; /* Add this property */
    

    &.open {
      height: 92px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
  }

  &__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 0 0 50%; /* Добавлено свойство */
    max-width: 50%; /* Добавлено свойство */
  }

  &__nav-btn {
    background: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;

    &:hover {
      color: #000000;
    }
  }

  &__theme-box {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  &__theme-btn {
    width: 100px; /* Измените ширину кнопок по своему усмотрению */
    border: none;
    background: none;
    cursor: pointer;

    &:first-child {}

    &:disabled {
      cursor: auto;

      svg path {
        fill: #DADADA;
      }
    }
  }
}