.header {
  height: 84px;
  display: flex;
  align-items: center;
  

  &__box {
    display: flex;
    align-items: center;
  }

  &__search-box {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__search-input {
    flex: 1;

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 10px;
    }
  }

  .logotype {
    cursor: pointer;
  }
}

.search-input {
  width: 500px;
  height: 40px;
  padding: 0 20px;
  border: none;
  color: #fff;
  outline: none;
  border-radius: 10px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.08);
  
  border: 2px solid transparent;
  margin-left: 205px;

  &::placeholder {
    color: #fff;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.logo {
  width: 40px;
}

.logo_title {
  font-size: 30px;
  align-self: center;
  user-select: none;
}

.burger_container {
  display: flex;
  align-items: center;
}

.burger_title {
  user-select: none;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: #8400ff !important;
}