

.movie-poster {
  position: relative;
  width: 266px;
  margin-left: 10px;
  z-index: 1;
  &--btn {
    position: absolute;
    z-index: 2;
    top: 19px;
    left: 19px;
    display: flex;
    padding: 4px 8px;
    gap: 10px;
    border-radius: 6px;
    border: none;
    background-color: #00a340;
    color: #ffff;
  }
  &--btn:hover {
    transition: filter 0.5s ease;
    filter: brightness(1.2);
    @keyframes brightnessAnimation {
      from {
        filter: brightness(1);
      }
      to {
        filter: brightness(1.2);
      }
    }
  }
  h3 {
    padding-top: 24px;
    width: 266px;
  }

  h2 {
    padding: 5px 0;
  }
  p {
    padding-top: 4px;
  }
  ul {
    display: flex;
    gap: 30px;
  }
}

.movie-poster {
  &--img {
    width: 266px;
    height: 357px;
    border-radius: 10px;
  }
}



.related-title {
  text-align: center;
  margin-bottom: 15px;
}

.related-movie__genre {
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
}


.related-movie__title {
  font-size: 16px;
    margin: 4px;
    text-align: center;
}


.related-movie__year {
  font-size: 14px;
  text-align: center;
}

