.related-movies .card:hover {
  &:hover {
    transform: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}



.movie-poster {
  position: relative;
  z-index: 1;
  &--btn {
    position: absolute;
    
    
    
    padding: 4px 8px;
    z-index: 4;
    border: none;
    color: #ffff;
  }
 
  h3 {
    width: 266px;
  }
  
}

.movie-poster {
  &--img {
    box-shadow: 15px 11px 30px -8px rgba(0, 0, 0, 0.42);
    height: auto;
    width: 280px;
    margin-left: 14px;
  }
}



.related-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.related-movie__genre {
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
  margin-top: 10px;
}


.related-movie__title {
  font-size: 16px;
    margin: 4px;
    text-align: center;
}


.related-movie__year {
  font-size: 14px;
  text-align: center;
  font-weight: 200;
}

