.settings {

    &__form-profile {
        display: flex;
        width: 700px;
        border-radius: 10px;
        color: #fff;
        align-items: center;
        column-gap: 40px;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__form-password {
        display: flex;
    width: 700px;
    height: 350px;
    border-radius: 10px;
    color: #fff;
    column-gap: 40px;
    row-gap: 15px;
    flex-direction: column;
    margin: 0 auto;


        &-lol {
            width: 100px;
        }
    }

    &_btn {
        display: flex;
        margin: 0 auto;
        width: 266px;
        height: 56px;
        justify-content: center;
        column-gap: 40px;
        margin-top: 48px;
    }
}