.movies-container {
    position: relative;
  }
  
  .previous-button {
    position: absolute;
    left: 135px;
    bottom: 180px;
  }
  
  .next-button {
    position: absolute;
    right: 135px;
    bottom: 180px;
  }
  
  .pagination-button {
    
  }