.movies-container {
    position: relative;
  }
  
  .previous-button {
    position: absolute;
    top: 410px;
    left: -70px
  }
  
  .next-button {
    position: absolute;
    right: -70px;
    top: 410px;
  }
  
  .pagination-button {
    
  }