.movies-container {
  position: relative;
  align-content: space-between;
}

.pagination-container {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}



.previous-button {
 margin-left: 0px;
 width: 100px;
 height: 30px;
}

.next-button {
  margin-left: 0px;
  width: 100px;
 height: 30px;
}

.light span {
  color: rgba(255, 255, 255, 0.89);
}


.filter-container {
  text-align: center;
}


.css-187mznn-MuiSlider-root {
  border-radius: 12px;
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
  touch-action: none;
  color: #1976d2;
  -webkit-tap-highlight-color: transparent;
  height: 4px;
  width: 90% !important;
  padding: 13px 0;
}