@import '~slick-carousel/slick/slick';


.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/step_background (6).png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s;
  


  

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .slick-slider {
    width: 80%;
    max-width: 800px;
    margin-bottom: 100px;
    margin-top: 50px;
  }

  .slick-slide {
    img {
      max-width: 100%;
      height: 100%;
    }
  }


  .start-button {
    padding: 10px 20px;
    
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10.4px);
    backdrop-filter: blur(10.4px);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    bottom: 150px;
  }
}


.custom-prev-arrow {
    width: 100px;
    
}

.splash-screen__logotype {
display: flex;
flex-direction: column;

}

.splash-screen__logo {
width: 70px;
margin: 0 auto;

}

.splash-screen__title {
  text-align: center;
  font-size: 38px;
  text-shadow: black 2px 2px 2px;
}

.splash-screen__discription {
  text-align: center;
}


// .slick-prev:before, .slick-next:before {
//   font-family: 'slick';
//   font-size: 50px;
//   line-height: 1;
//   opacity: .75;
//   color: white;
//   -webkit-font-smoothing: antialiased;
// }