.movie-details {
  display: flex;
  width: max-content;
  gap: 42px;
  margin-top: 30px;
}


.movie-info--plot {
  width: 55%;
  word-wrap: break-word;
}

.movie-details--plot {
  
  max-width: 600px;
  word-wrap: break-word;
}

.movie-details h2 {
  color: #afb2b6;
}

.movie-details ul {
  list-style-type: none;
}

.movie-details li {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.movie-rating {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.movie-rating--green {
  background-color: #00a340;
}

.movie-info--list {
  color: #afb2b6;
}

.movie-info--value {
  color: white;
  font-weight: 500;
}

.movie-details--genres {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;
}

.movie-details--genres li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.movie-details--genres .movie-info--list {
  font-weight: bold;
}

.movie-rating span {
  background-color: rgba(255, 255, 255, 0.185);;
  padding: 5px;
  border-radius: 10px;
}

.movie-info--list-label {
  background-color: rgba(255, 255, 255, 0.185);;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
}

.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

.dribbble img {
  display: block;
  height: 28px;
}

.share-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}



.subline {
  color: white;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .movie-details--plot {
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  .movie-details {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .movie-details--genres {
    justify-content: center;
    gap: 10px;
  }
}
