
.movie-details {
  display: flex;
  width: max-content;
  gap: 42px;
  
  margin-top: 30px;

  .movie-info {
    &--plot {
      width: 100%;
  max-width: 600px;
  word-wrap: break-word;
    }

    

    h2 {
      color: #afb2b6;
    }

    ul {
      li {
        margin: 20px 0;
        list-style-type: none;
      }
    }

    .movie-rating {
      display: flex;
      gap: 10px;
      padding-top: 20px;
      padding-bottom: 20px;

      &--green {
        background-color: #00a340;
      }
    }

    span {
      padding: 2px 8px;
      background: rgb(255 255 255 / 19%);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10.4px);

     
    }

    &--genres {
      display: flex;
      gap: 54px;

    }
  }
}


  .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;

    img {
      display: block;
      height: 28px;
    }
  }



.share-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.subline {
  color: white;
  font-weight: 200;
}



@media (max-width: 1024px) {

  .movie-details .movie-info--plot {
    max-width: 350px;
  }

  
}



@media (max-width: 480px) {
  .movie-details {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

 

  .movie-details .movie-info--genres {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}